.menu{
    color: #000;    
}

* {
    font-family: "ABeeZee";
}

.navbar {
    display: flex;
}

.links{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.links a{
    color: rgba(149,73,1,60%);
    text-align: center;
    font-size: 36px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

/* change color of navbar links when hovering */
.links a:hover{
    color: rgb(149,73,1);
}

/* change color to active/current link 
.current-link {
    color: rgb(149,73,1) !important;
    text-decoration: underline !important;
} */

.products-list {
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-display {
    width: 400px;
    margin: 30px;
    border: 2px solid #954901;
}

.product-name{
    text-align: center;
    color: #954901;
    font-size: 48px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-block-start: 16px;
    margin-block-end: 8px;
}

.product-price{
    text-align: center;
    color: #B06B29;
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-block-start: 16px;
    margin-block-end: 16px;
}

.product-gf{
    text-align: center;
    color: #954901;
    font-size: 38px;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-block-start: 16px;
    margin-block-end: 8px;
}

.product-image {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.logo img{
    width: 224px;
    height: auto;
    display: inline-block;
}

.carticon {
    padding: 16px;
}

.carticon img{
    width: 75px;
    display: block;
    height: auto;
}



